h2{
    color: purple;
}
body{
    background-color:#bdc3c7 ;
}
h1{
    color: orange;
}
li{
    color: blue;
}
p{
    background-color: yellow;
}
input{
    border:3px solid red ;
  
}
.hello{
    background-color: pink;
}
#special{
    border:2px solid blue ;
    
}
div p {
    font-size: 25px;
}

input[type=text]{
    background-color: gray;
}
#div3 #p2{
    background-color: pink;
    border: 5px solid white;
}
#div3 em{
    color: white;
    font-size: 20px
}
input[type=checkbox][checked]{
margin-left: 50px;
}
label{
    text-transform: uppercase;
}
#special::first-letter{
    color: green;
    font-size: 100px;
}
h1:hover {
    color: violet;
  }
  
  a:visited {
    color: gray;
  }


